parameters:
    level: 6
    paths:
        - ../../src
    symfony:
        container_xml_path: ../../var/cache/dev/Shared_Infrastructure_Symfony_KernelDevDebugContainer.xml
        console_application_loader: console-application-loader.php

    # custom rules
    checkMissingIterableValueType: false