parameters:
    level: 5
    paths:
        - ../../tests
    symfony:
        container_xml_path: ../../var/cache/test/Shared_Infrastructure_Symfony_KernelTestDebugContainer.xml
        console_application_loader: console-application-loader.php

    # custom check rules
    checkMissingIterableValueType: false